* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    max-width: 800px;
    padding: 10px;
    margin: 0;
    text-align: center;
    background: gray;
    color: orange;
}
.header {
    padding: 30px;
    text-align: center;
}
  
.header h1 {
    font-size: 50px;
}

h1 {
    text-align: center;
    color: dodgerblue;
}

h2 {
    text-align: center;
    color: dodgerblue;
}

p {
    color : white;
    text-align: justify;
}

table {
    color : white;
    padding: 10px;
    margin: 10px;
}
  